{{ define "title" }} {{ .Title }} {{ end }}
{{ define "content" }}
    <header class="page-header header container-fluid">
        <div class="overlay"></div>
    </header>

    <div class="description">
        <h1>Welcome to the Logger Man!</h1>
        <p>A simple Web Project Built with GoLang, MySQL, Docker, Websocket </p>
        <a href="/add/logger" class="btn btn-outline-secondary btn-lg">Join Loggers</a> &nbsp; | &nbsp; <a href="/loggers" class="btn btn-outline-secondary btn-lg">Hire A Loger</a> <br/><br/>
        <small>Credit: <strong><a target="_blank" title="Visit Official Website" href="https://razaqofficial.herokuapp.com"><u>Abdurrazaq Ogunlade</u></a></strong></small>
    </div>

{{ end }}